@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    color: #00004F;
    overflow-x: hidden;
    font-family: nunito, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: hands-of-sean;
    src: url('./fonts/Hand_Of_Sean_Demo.ttf');
}

@font-face {
    font-family: konnect;
    src: url('./fonts/KonnectRegular.otf');
}

@font-face {
    font-family: konnect;
    font-weight: bold;
    src: url('./fonts/KonnectBold.otf');
}

@font-face {
    font-family: nunito;
    src: url('./fonts/nunito.regular.ttf');
}

@font-face {
    font-family: nunito;
    font-weight: bold;
    src: url('./fonts/nunito.bold.ttf');
}

/* Flip on the X axis */
.flip-horizontal {
    transform: scaleX(-1);
}

/* Flip on the Y axis */
.flip-vertical {
    transform: scaleY(-1);
}